.why_container{
    display: block;
    width: 100%;
    height: 300px;
    background-color: rgb(159, 159, 159);
font: 18px/24px "opensans-bold", sans-serif;
}
/* .headText_why{
    align-items: center !important;
    text-align: center !important;
    justify-content: sp-between !important;
} */

.why_container_head{
    padding-bottom: 30px;
    font: "opensans-bold", sans-serif;
    letter-spacing: 3px;
}

.why_img1{
    width: 50px;
    height: 50px;
    transition: width 2s, height 4s;
}


.why_img1:hover{
    width: 100px;
        height: 100px;
}

.why_container >h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.head{
    font-size: 25px;
    letter-spacing: 3px;
}

.tail{
    font-size: 14px;
}

.contents{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-right: 10rem;
    padding-left: 10rem;
}