.soln{
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.textSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.headSoln{
    font-size: 70px;
    color: rgb(142, 180, 39);
}